
.mainProductContainer{
  width: 80vw;
  margin: auto;
  .productInfoAndImage{
    display: flex;

    justify-content: space-between;
    .smallImage{
      margin-right: 30px;
      align-self: flex-start;
      position: sticky;
      top: 16rem;
      width: 64px;
      li{
        margin-bottom: 30px;
        img{width: 64px}
      }
      li.moreImage{
        display: block;
        background-color: black;
        color: white;
        font-weight: bold;
        height: 1.6rem;
        line-height: 1.6rem;
        font-size: 0.8rem;


      }
    }
    .bigImage{
      flex: 1;
      position: sticky;
      align-self: flex-start;
      top: 16rem;
      img{width: 50vw;}
    }
  }
  .description{
    width: 80vw;
    padding: 30px 0;
    border-top: 1px solid lightgray;
    margin-top: 20px;
    .descriptionContainer{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .descriptionLeft{
        width: 35vw;
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: left;
      }
      .descriptionRight{
        width: 35vw;
        font-size: 1.1rem;
        text-align: left;
        div{
          font-weight: 700;
          margin-bottom: 20px;
        }
        ul{

          li{
            margin-bottom: 20px;
            list-style-type: disc;
          }
        }
      }
    }

  }
}